* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 600;
}


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #39cf39;
}

.nav-link:focus,
.nav-link:hover {
    color: #131414;
}

/*content css*/
.contact {
    background: #e6e7e7;
    padding: 90px;

}

.content h1 {
    font-size: 30px;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.content p {

    font-size: 50px;
    color: #333;
    font-weight: 900;
}

video {
    width: 450px;
    position: absolute;
    top: 100px;
    left: 850px;
    bottom: 100px;
    right: 100px;
}

/*about start*/


.section-title h4 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

.section-title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.section-title p span {
    color: black;
    font-size: 22px;
}


.about-icon img {
    padding: 12px;
}


.about-meta h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: var(--global-palette3);
}

.about-item {
    padding: 20px;
}

.about-item p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 16px;
    text-rendering: optimizeLegibility;
}

button.btn-contact {
    background: #0f0f0f;
    border: 1px solid #c9c9cc;
    padding: 14px 20px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}


.about-item {
    border: 1px solid #c9c9cc;
    background: rgba(180, 193, 212, 0.1);
    margin-top: 22px;
    transition: .9s;
}

.about-item:hover {
    background: #dadfd8;
}




/*about end*/

/* leader css*/

.leader img {
    width: 100%;
}

.leader .team-info img {
    display: block;
    height: 200px;
    margin: 25px auto 0;
    border-radius: 10%;
}

.team-title {
    padding: 20px;
    margin: 6px;
}

.team-title h4 {
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.team-title h6 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


.team-title p span {
    color: black;
    font-size: 20px;
}

/*  glance css */
#glance {
    background: #b8b8d6;
}

.section-title h1 {
    padding: 30px;
    font-weight: 700;
    font-size: 40px;

}

.glance-title h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}


.glance-title p {
    font-size: 15px;
    font-weight: 500;
    transition: .4s;
}

.glance-item {
    border: 1px solid #c9c9cc;
    background: rgba(21, 22, 22, 0.1);
    margin-bottom: 22px;
    transition: .9s;
}

.glance-item:hover {
    background: #e6f3da;
}

/* img-contact css */




/* footer css */

footer {
    background: #333;
    padding: 24px 0;
    color: #fff;
    font-size: 18px;
}

.footer-row {
    background: #131414;
    padding: 15px 0;
    font-weight: 400;
}

/* about secson*/
/* about contact css*/

#about{
    background-image: url(img/bg.jpg);
    position: relative;
    width: 100%;
    padding: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-title h2 {
    color: #fff;
    font-weight: 600;
}

.about-contact {
    background: #fff;
    position: relative;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about-title p {
    color: #333;
    font-weight: 400;
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 32px;
    text-rendering: optimizeLegibility;
}

.title span {
    color: rgb(39, 82, 138);
    font-weight: 700;
}


/*  our team css*/

#team1 img {
    width: 100%;
}

 .team-info img {
        border-radius: 100px;
        display: block;
        height: 200px;
        margin: 0 auto;
        -o-object-fit: cover;
        object-fit: cover;
        width: 200px;
  
}

.team-title {
    padding: 20px;
    margin: 6px;
}

.section-title h2 {
    font-size: 35px;
    font-weight: 700;
    padding: 30px;
}

.team-title h5{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.team-title h6 {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}



/* powered contact css*/


.powered{
    background: rgb(208, 243, 233);
    position: relative;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.powered-title h2{
    color: #333;
    font-weight: 600;
    padding: 22px;
}

.powered-title p {
        font-size: inherit;
        line-height: 1.6;
        margin-bottom: 32px;
        text-rendering: optimizeLegibility;
}

#powered span {
    color: rgb(39, 82, 138);
    font-weight: 700;
}


 /*from us css */

 #contact{
    background: #edeeeb;
    padding: 50px 0;
}

button.btn-sumbit{
    background: #3069d3;
    border: none;
    display: inline-block;
    padding: 14px 30px;
    font-size: 16px;
    color: #fff;
}
